{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<h2 class="mb-4">Объявления</h2>

<form id="filter-form" class="mb-4 row row-cols-1 row-cols-md-auto g-2 align-items-center">
  <div class="col">
    <input type="text" id="search-input" placeholder="Поиск..." class="form-control" />
  </div>
  <div class="col">
  <select id="condition-select" class="form-select">
    <option value="">Любое состояние</option>
    <option value="Новый">Новое</option>
    <option value="Б/У">Б/у</option>
  </select>
</div>

  <div class="col">
    <input type="text" id="category-input" placeholder="Категория" class="form-control" />
  </div>
  <div class="col">
</div>
  <div class="col">
    <button type="submit" class="btn btn-primary">Применить</button>
  </div>
</form>

<div id="ads-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4"></div>

<div class="d-flex justify-content-between mt-4">
    <button id="prev-btn" class="btn btn-outline-primary" disabled>Назад</button>
    <button id="next-btn" class="btn btn-outline-primary" disabled>Вперёд</button>
</div>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/ads.js' %}"></script>
{% endblock %}
