{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<h2 class="mb-4">Объявления</h2>

<form id="filter-form" class="mb-4 d-flex gap-2">
  <input type="text" id="search-input" placeholder="Поиск..." class="form-control" />
  <select id="ordering-select" class="form-select" style="width: 180px;">
    <option value="-created_at" selected>Сначала новые</option>
    <option value="created_at">Сначала старые</option>
  </select>
  <button type="submit" class="btn btn-primary">Применить</button>
</form>

<div id="ads-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4"></div>

<div class="d-flex justify-content-between mt-4">
    <button id="prev-btn" class="btn btn-outline-primary" disabled>Назад</button>
    <button id="next-btn" class="btn btn-outline-primary" disabled>Вперёд</button>
</div>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/ads.js' %}"></script>
{% endblock %}
